button {
    margin: 0 auto;
}

.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }
  
  .h-64 {
    height: 12rem; 
  }
  
  .h-auto {
    height: auto; 
  }